
<%= simple_form_for @publication, :html => { :class => 'form-horizontal' } do |f| %>


    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %>
      <div class="controls">
        <select id='publication_type'>
            <option value=''></option>
            <option value='BookChapter'>Book chapter</option>
            <option value='BookWhole'>Book whole</option>
            <option value='ConferenceArticle'>Conference article</option>
            <option value='JournalArticle'>Journal article</option>
        </select>
      </div>
    </div>

    <input type='hidden' id='p_type' name='p_type' value=''/>

    <%= f.input :author %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :publication %>
    <%= f.input :volume %>
    <%= f.input :issue %>
    <%= f.input :page %>
    <%= f.input :keywords %>
    <%= f.input :abstract %>
    <%= f.input :publisher %>
    <%= f.input :placeofpublication %>
    <%= f.input :editor %>
    <%= f.input :seriestitle %>
    <%= f.input :seriesvolume %>
    <%= f.input :seriesissue %>
    <%= f.input :issn %>
    <%= f.input :isbn %>
    <%= f.input :area %>
    <%= f.input :url %>
    <%= f.input :doi %>
    <%= f.button :submit %>

    <script>
        $(document).ready(function(){
            var current_type = null;
            $('#publication_type').change(function(e){
                current_type = $(e.target).val();

                $("#p_type").val(current_type);
                $('input', $(e.target).parents('form')).each(function(i,el){

                    if($.inArray($(el).attr('id'), form_fields_for(current_type)) != -1){
                        $(el).parents('.input').show();
                    }else{
                        $(el).parents('.input').hide();
                    }
                });
            });
            var form_fields_for= function(type){
                var types = {
                    BookChapter: ['publication_author','publication_title'],
                    JournalArticle: ['publication_author', 'publication_title', 'publication_year'],
                    BookWhole: ['',''],
                    ConferenceArticle: ['','']
                };
                return types[type];
            };
        });
    </script>

<% end %>
