<%- model_class = Publication -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:publication) %></th>
      <th><%= model_class.human_attribute_name(:volume) %></th>
      <th><%= model_class.human_attribute_name(:issue) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:abstract) %></th>
      <th><%= model_class.human_attribute_name(:publisher) %></th>
      <th><%= model_class.human_attribute_name(:placeofpublication) %></th>
      <th><%= model_class.human_attribute_name(:editor) %></th>
      <th><%= model_class.human_attribute_name(:seriestitle) %></th>
      <th><%= model_class.human_attribute_name(:seriesvolume) %></th>
      <th><%= model_class.human_attribute_name(:seriesissue) %></th>
      <th><%= model_class.human_attribute_name(:issn) %></th>
      <th><%= model_class.human_attribute_name(:isbn) %></th>
      <th><%= model_class.human_attribute_name(:area) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:doi) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.id %></td>
        <td><%= link_to publication.type, publication_path(publication) %></td>
        <td><%= publication.author %></td>
        <td><%= publication.title %></td>
        <td><%= publication.year %></td>
        <td><%= publication.publication %></td>
        <td><%= publication.volume %></td>
        <td><%= publication.issue %></td>
        <td><%= publication.page %></td>
        <td><%= publication.keywords %></td>
        <td><%= publication.abstract %></td>
        <td><%= publication.publisher %></td>
        <td><%= publication.placeofpublication %></td>
        <td><%= publication.editor %></td>
        <td><%= publication.seriestitle %></td>
        <td><%= publication.seriesvolume %></td>
        <td><%= publication.seriesissue %></td>
        <td><%= publication.issn %></td>
        <td><%= publication.isbn %></td>
        <td><%= publication.area %></td>
        <td><%= publication.url %></td>
        <td><%= publication.doi %></td>
        <td><%= publication.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_publication_path(publication), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      publication_path(publication),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_publication_path,
            :class => 'btn btn-primary' %>
